# General ignores.
ext-src
ext-libs
*.bms
*.osu
*.sm
*.db
TEST
Songs
# Windows ignores.
project/debug
project/release
*.dll
project/config.ini
*.suo
*.user
*sdf
*.exe
project/log.txt
project/*.db
# Linux ignores.

# Mac ignores.
project/Xcode/obj
project/Xcode/build
*.xcuserdatad
.DS_Store
log.txt
TEST/CRASH/background - color.jpg
*.ssc