# General ignores.
ext-libs/boost
config.ini
*.bms
*.osu
*.sm
*.db
TEST
Songs
release
Starter Pack

# Windows ignores.
project/debug
project/release
project/release_xp
project/packages
project/log.txt
*.dll
*.suo
*.user
*.sdf
*.exe

# Linux ignores.

# Mac ignores.
project/Xcode/obj
project/Xcode/build
*.xcuserdatad
.DS_Store
log.txt
*.ssc
*.pms
*.bat
*.swp