# General ignores.
ext-libs/boost
*.bms
*.osu
*.sm
*.db
TEST
Songs
release
Starter Pack
# Windows ignores.
project/debug
project/release
project/release_xp
project/packages
*.dll
project/config.ini
*.suo
*.user
*sdf
*.exe
project/log.txt
project/*.db
# Linux ignores.

# Mac ignores.
project/Xcode/obj
project/Xcode/build
*.xcuserdatad
.DS_Store
log.txt
*.ssc
*.pms
*.bat
config.ini
*.swp