body {
	font-family: default;
	font-size: 24;
	text-align: right;
}

.widebox
{
	/*position: absolute;*/
	margin-top: 5%;
	display: block;
	width: 100%;
	overflow-y: scroll;
	height: 68%;
	text-align: left;

	background: #101010;
	border-top-width: 3px;
	border-bottom-width: 3px;
	border-top-color: white;
	border-bottom-color: white;
}

.centered {
	display: block;
	width: 100%;
	text-align: center;
}

scrollbarvertical
{
	width: 24px;
}

scrollbarvertical slidertrack
{
	background: #A0A0A0;
}

scrollbarvertical sliderbar
{
	background: #303030;
	width: 20px;
	margin-left: 2px;
}

scrollbarvertical sliderarrowdec, sliderarrowinc
{
	background: #080808;
	height: 35px;
}

.opt h1
{
	margin-left: 15%;
	display: inline;
	text-align: left;
	left: 5%;
	font-size: 48;
	darken-font-effect: shadow;
    darken-offset: 1px 1px;
    darken-color: grey;
}

.opt form 
{
	width: 70%;
	display: inline-block;
	margin-left: 15%;
	padding-left: 2%;
	background: #0A0A0A;
}

.opt form input:after
{
	content: "hello";
}

#text
{
	font-family: default;
}

.dbox h1
{
	display: block;
	position: relative;
	width: 100%;
    text-align: center;
	background: rgba(0%,0%,0%,90%);
    font-size: 28;
    darken-font-effect: shadow;
    darken-offset: 1px 1px;
    darken-color: grey;
	border-color: white;
	border-width: 1px 0px;
}

input {
	display: block;
}

input.checkbox
{
	display: inline;
	icon-decorator: image;
	icon-image: Global/checkbox.png;
}

input.checkbox:hover
{
	icon-image: Global/checkbox_h.png;
}

input.checkbox:checked
{
	icon-image: Global/checkbox_s.png;
}

input.checkbox:checked:hover
{
	icon-image: Global/checkbox_sh.png;
}

input.text {
	background: black;
	display: inline-block;
	width: 100%;
}

.opt input.text {
	display: inline-block;
	width: 40%;
	height: 6%;
	font-size: 20px;
	margin-bottom: -15px;
}

input.text:hover {
	background: grey;
}

input.range slidertrack
{
	height: 10px;
	background: #303030;

}

.row {
	display: inline-block;
	width: 100%;
}

.rowlt {
	text-align: right;
	margin-right: 15px;
	display: inline-block;
	width: 50%;
}

.rowrt {
	position: relative;
	text-align: left;
	margin-left: 15px;
	display: inline-block;
	top: -10px;
}

button {
	background-color: #101010;
	padding: 5px 15px;
	margin: 0px 5px;
}

button:hover {
	background-color: #505050;
}

button:active {
	background-color: #080808;
}

.boxes {
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 22px;
	display: block;
}

.fl {
	display: inline-block;
    background: rgba(0,0,0,80%);
	width: 50%;
	text-align: left;
}

.fr {
	display: inline-block;
	width: 50%;
    background: rgba(0,0,0,80%);
}

select, dataselect {
 	color: white;
	font-size: 18;
	width: 180;
	height: 25;
	background: #101010;
	text-align: left;
}

select:hover {
	background: #505050;
}

select selectarrow,
dataselect selectarrow {
	width: 15;
	height: 25;
	color: white;
	background: rgb(8,8,8);
}

select selectarrow:hover, dataselect selectarrow:hover {
	color: grey;
}

select selectbox,
dataselect selectbox {
	width: auto;
	height: auto;
	background: black;
	color: white;
}

select option:hover {
	background: #505050;
}

.dbox {
	display: block;
	position: absolute;
	background: rgba(0%,0%,0%,60%);
	left: 70%;
	height: 680;
	width: 30%;
	border-left-width: 3px;
	border-left-color: white;
}

#hid {
	text-align: center;
	width: 100%;
}

.lt {
	display: inline-block;
	width: 50%;
	text-align: left;
    background: rgba(0,0,0,70%);
	height: 30px;
	font-size: 20px;
}

.rt {
	display: inline-block;
	width: 50%;
	height: 30px;
}

.rt input.text {
	display:inline;
	width:200px;
	height: 30px;
}

.selbar {
	display: block;
	height: 12%;
	width: 100%;
	background: rgba(0,0,0,90%);
	text-align: left;
	border-bottom-width: 2px;
	border-bottom-color: white;
}

.sellt {
	padding: 2px 5px;
	font-size: 40px;
	width: 65%;
	top: 6px;
	position: relative;
	display: inline-block;
}

.selrt {
	font-size: 18px;
	width: 30%;
	display: inline-block;
}

.selrt h1 {
	display: block;
	height: 35%;
}
