body {
	font-family: default;
	font-size: 24;
	text-align: right;
	top: 6%;
	right: 3%;
}

h1
{
	font-size: 28;
    darken-font-effect: shadow;
    darken-offset: 1px 1px;
    darken-color: grey;
}

input.checkbox
{
	icon-decorator: image;
	icon-image: Global/checkbox.png;
}

input.checkbox:hover
{
	icon-image: Global/checkbox_h.png;
}

input.checkbox:checked
{
	icon-image: Global/checkbox_s.png;
}

input.checkbox:checked:hover
{
	icon-image: Global/checkbox_sh.png;
}

input.text {
	padding: 10px 10px 10px;
	background: black;
}

.dbox {
	background: red;
	padding-top: 6px;
}
